{% extends 'base/base.html' %}
{% load static %}

{% block 'subtitulo' %}
Admins
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/admins.css' %}">
{% endblock %}

{% block 'content' %}
<div class="container1">
    <div class="container2">
        <div class="imagem">
            <img src="{% static 'images/GoacLogo.png' %}" alt="">
            <h2>ADMINISTRAÇÃO</h2>
        </div>
        <div class="imagem2">
            <div class="grid">
                <div class="conj">
                    <a href="{% url 'editordecadarpio' %}">
                        <div class="icon">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                        <h3>Alterar Cardápio</h3>
                    </a>
                </div>
                <div class="conj">
                    <a href="{% url 'lista_publi' %}">
                        <div class="icon">
                            <i class="fa-solid fa-bullhorn"></i>
                        </div>
                        <h3>Publicações</h3>
                    </a>
                </div>
                <div class="conj">
                    {% if user.id == 1 %}
                        <a href="{% url 'users' %}">
                            <div class="icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <h3>Usuários</h3>
                        </a>
                    {% else %}
                        <a href="{% url 'edit_user' user.id %}">
                            <div class="icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <h3>Usuários</h3>
                            <h3>{{ user }}</h3>
                        </a>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'logoff' %}">
                <div class="logout">
                    <p>SAIR</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
