{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Cadastrar Usuário
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/cad_user.css' %}">
{% endblock %}

{% block 'content' %}
<div class="vheight">
    <div class="form-frame">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            {% if user.id != 1 %}
                <a href="{% url 'password_change' %}">MUDAR SENHA</a>
            {% endif %}
            <div class="botoes">
                <a href="{% url 'admins' %}">
                    <div>
                        CANCELAR
                    </div>
                </a>
                <input type="submit" value="CADASTRAR" class="botao">
            </div>
        </form>
    </div>
    {% if user.id != 1 %}
        <div class="dados_extras {{ state }}">
            <div class="wow">
                CPF:
                <p>{{ user.CPF }}</p>
            </div>
            <div class="wow">
                Data de Nascimento:
                <p>{{ user.Data_Nascimento }}</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}