{% extends 'base/base.html' %}
{% load static %}


{% block 'header' %} 
<link rel="stylesheet" href="{% static 'CSS/cardapio.css' %}">
{% endblock %}

{% block 'content' %}
    <div class=container1>
        <div>

            <div class="titulo">pratos</div>


            <div class="titulo-comidas">
                CARNE DE <br />
                CHURRASQUEIRA R$35,00

            </div>

            <div class="detalhes-comidas">
                Carne Assada (130g) <br />
                Feijão Preto (165g)<br />
                Arroz branco (110g)<br />
                Farofa Comum (77g)<br />
                Salada Vinagrete (66g) <br />

            </div>

            <div class="titulo-comidas">
                <br>
                FRANGO DE <br />
                CHURRASQUEIRA R$27,00

            </div>

            <div class="detalhes-comidas">
                Sobrecoxa Assada <br />
                Feijão Carioca <br />
                Arroz Refogado <br />
                Farofa Comum <br />
                Salada de Maionese <br />
            </div>

            <div class="titulo-comidas">
                <br>
                LINGUIÇA</A> DE <br />
                CHURRASQUEIRA R$27,00

            </div>

            <div class="detalhes-comidas">
                Linguiça Assada <br/>
                Fava Rajada <br/>
                Arroz Refogado <br/>
                Farofa Comum <br/>
                Salada de Maionese <br/>
                <br>
                

            </div>

        </div>

        <div class="imagem">
            <img class="pag2" width="360px" height="1570px" src="{% static 'images/pag2.png' %}">
        </div>

    </div>

    
    <div class = "container2">
        <div class="imagem">
            <img class="pag3" width="915px" height="468.5px" src="{% static 'images/pag3.png' %}">
        </div>

    </div>

{% endblock %}



