{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %}
Contato
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/contato.css' %}">
{% endblock %}

{% block 'content' %}
<div class="contato-content">
    <h1>Fale Conosco</h1>
    
    
    <div class="contato-form">
        <form action="#" method="post">
            {% csrf_token %}

            <div class="linha1">
                <p>
                    Nome:
                    <input type="text" name="nome">
                </p><br>
            
            <p>
                Assunto:
                <input type="text" name="assunto">

            </p><br>


            <p>
                Email:
                <input type="text" name="email">
            </p><br>
            </div>
                

            <div class="linha2">
                <p>
                    Número de telefone:
                    <input type="number" name="telefone">
    
                </p><br>
            </div>
            

            <div class="linha3">
                <p class="mensagem">
                    Mensagem:
                    <textarea name="mensagem" rows="6" required></textarea>
                    
    
                </p><br>
            </div>

            <p class="botao">
                <input type="submit" value="Enviar" />
            </p>


            

        </form>
    </div>
</div>
{% endblock %}