{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Editar cardápio
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/editordecadarpio2.css' %}">
{% endblock %}

{% block 'content' %}
<div class="vheight">
    <div class="titulo">
        <h2>Editor de Cardápio</h2>
        <a href="{% url 'add_prato' %}">
            <button>ADICIONAR</button>
        </a>
    </div>
    {% for prato in lista_pratos %}
        <div class="prato">
            <p>||{{ prato.Nome }}||</p>
            <p>||R$ {{ prato.Preco }}||</p>
            <p>||{{prato.Categoria}}||</p>
            <div class="buttons">
                <a href="{% url 'edit_prato' prato.id %}">
                    <button>EDITAR</button>
                </a>
                <a href="{% url 'rem_prato' prato.id %}">
                    <button class="red">APAGAR</button>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}