{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Editar cardápio
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/editordecadarpio2.css' %}">
<script src="{% static 'JS/editcard.js' %}" defer></script>
{% endblock %}

{% block 'content' %}
<div class="vheight">
    <div class="titulo">
        <h2>Editor de Cardápio</h2>
        <div class="up-button">
            <button id="butones">CATEGORIAS</button>
            <a href="{% url 'add_prato' %}">
                <button>ADICIONAR</button>
            </a>
        </div>
    </div>
    {% for prato in lista_pratos %}
        <div class="prato">
            {% if prato.Imagem %}
                <img src="{{ prato.Imagem.url }}" alt="{{ produto.Nome }}">
            {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Nenhuma imagem disponível">
            {% endif %}
            <div class="infos">
                <div class="info">
                    <h3>PRATO</h3>
                    <p>{{ prato.Nome }}</p>
                </div>
                <div class="info">
                    <h3>CATEGORIA</h3>
                    <p>{{ prato.Categoria }}</p>
                </div>
                <div class="info">
                    <h3>PREÇO</h3>
                    <p>R$ {{ prato.Preco }}</p>
                </div>
            </div>
            <div class="buttons">
                <a href="{% url 'disp_prato' prato.id %}">
                    <div class="check p{{ prato.Disponibilidade}}">
                        <div class="toggle"></div>
                    </div>
                </a>
                <a href="{% url 'edit_prato' prato.id %}">
                    <button>EDITAR</button>
                </a>
                <a href="{% url 'rem_prato' prato.id %}">
                    <button class="red">APAGAR</button>
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="cat-seq" id="menes">
        <h3>CATEGORIAS</h3>
        {% for cat in lista_categorias %}
            <div class="cat-item">
                <p>{{ cat.Nome }}</p>
                {% if cat in active %}
                    <button id="gray">IND.</button>
                {% else %}
                    <a href="{% url 'rem_cat' cat.id %}">
                        <button>APAGAR</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        <form class="cat-item" method="post" id="add">
            {% csrf_token %}
            {{ formcat }}
            <input type="submit" value="ADICIONAR">
        </form>
    </div>
</div>
{% endblock %}