{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %}
Restaurante Regional
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
{% endblock %}

{% block 'content' %}
<div class="banner">
    <h1>BEM-VINDO AO</h1>
    <h2>GOACANA</h2>
    <h3>RESTAURANTE REGIONAL</h3>
</div>
<div id="About" class="contcard reverse">
    <div class="info">
        <h1>SOBRE NÓS</h1>
        <p>
            O Goacana é mais do que um restaurante: é um pedaço vivo da história de Goianinha — lá atrás chamada de Goacana ou Viajana,
            aldeia dos índios Janduís no século XVI. Nosso nome celebra essa origem e a cultura que construiu a nossa cidade, 
            valorizando tradição, acolhimento e orgulho regional. Aqui o ambiente é familiar e genuíno, como a própria história local, 
            e cada visita é um convite para sentir o verdadeiro sabor e o espírito de Goianinha no seu melhor
        </p>
    </div>
    <div class="image">
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static '/images/Bolsa.png' %}" class="card2">
        </div>
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static '/images/Bolsa.png' %}" class="card2">
        </div>
    </div>
</div>
<div class="contcard">
    <div class="info">
        <h1>CARDÁPIO</h1>
        <p>
            No Goacana, a comida é feita do jeito que sempre vale a pena: fresca, natural e preparada no dia — sem atalhos, 
            sem conservantes, sem complicação. Molhos caseiros, ingredientes selecionados e sabores que valorizam uma alimentação 
            saudável com o toque regional que a nossa gente reconhece. Aqui, cada prato entrega o que promete: sabor de verdade, 
            feito com cuidado e respeito pela tradição da nossa terra.
        </p>
        <a href="{% url 'cardv2' %}" id="false-button">
            CONFIRA NOSSO CARDÁPIO
        </a>
    </div>
    <div class="image">
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static '/images/CardCover.png' %}" class="card">
        </div>
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static '/images/CardCover.png' %}" class="card">
        </div>
    </div>
</div>
<div id="Hor" class="contcard reverse">
    <div class="info">
        <h1>HORÁRIOS</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">DOMINGO</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">SEGUNDA</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">TERÇA</p>
                    <p>FECHADO</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">QUARTA</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">QUINTA</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">SEXTA</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="date-card">
                    <p class="day">SÁBADO</p>
                    <p>11:00 - 15:00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image">
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static 'images/prancheta.png' %}" class="card2">
        </div>
        <div class="col-8 col-md-4 col-xxl-3">
            <img src="{% static 'images/prancheta.png' %}" class="card2">
        </div>
    </div>
</div>
<div class="contcard" id="promo">
    <div class="container-fluid cont" id="destaques">
        <div class="row">
            <h1>DESTAQUES</h1>
        </div>
        <div class="row">
            {% for prato in lista_destaques %}
                <div class="col-12 col-md-6 col-xxl-4 promo">
                <div class="promo-card">
                    <div class="img-side">
                        {% if prato.Imagem %}
                            <img src="{{ prato.Imagem.url }}" alt="Novidade 1">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="text-side">
                        <h2>{{ prato.Nome }}</h2>
                        {% for acomp in acomps %}
                            {% if acomp.ID_Prato_id == prato.id %}
                                <p>{{ acomp.Nome }} ({{acomp.Quantidade}}g)</p>
                            {% endif %}
                        {% endfor %}
                        <h1 class="preco">R$ {{prato.Preco}}</h1>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2 class='empty' >Nenhum prato em destaque no momento</h2>
            {% endfor %}
        </div>
    </div>
</div>
<div class="contcard" id="nov">
    <div class="row">
        <h1>NOVIDADES</h1>
    </div>
    <div class="publi">
    {% for publi in publi %}
        <a href="{% url 'publiview' publi.id %}">
            <div class="promo-card upside bigger">
                <div class="upper">
                    <img src="{% static '/images/pag4.jpg' %}" alt="Novidade 1">
                </div>
                <div class="down">
                    <h2>{{ publi.Titulo }}</h2>
                    <p>{{ publi.Texto }}</p>
                </div>
            </div>
        </a>
    {% empty %}
    <h2 class="empty">Sem novas publicações.</h2>
    {% endfor %}
    </div>
</div>
<div class="contcard" id="nov">
    <div class="container-fluid">
        <div class="row">
            <h1>NEWSLETTER</h1>
        </div>
        <form method="post" id="form">
            {% csrf_token %}
            {{ newsform }}
            <button type="submit">CADASTRAR</button>
        </form>
        <p class="novp">Cadastre o seu email para receber as novidades sobre nosso restaurante!</p>
    </div>
</div>
{% endblock %}