{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Lista de Publicações
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/lista_publi.css' %}">
<script src="{% static 'JS/editcard.js' %}" defer></script>
{% endblock %}

{% block 'content' %}
<div class="vheight">
    <div class="titulo">
        <h2>Lista de publicações</h2>
        <div class="up-button">
            <a href="{% url 'publicacao' %}">
                <button>ADICIONAR</button>
            </a>
        </div>
    </div>
    <div class="listapubli">
        {% for publi in publis %}
           <div class="big-item">
                <div class="data">
                    <p>{{ publi.Data }}</p>
                </div>
                <div class="opt">
                    <a href="{% url 'edit_publi' publi.id %}">
                        <button>EDITAR</button>
                    </a>
                    <a href="{% url 'rem_publi' publi.id %}">
                        <button class="donefor">APAGAR</button>
                    </a>
                </div>
           </div>
        {% endfor %}
    </div>
</div>
{% endblock %}