{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Login
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/login.css' %}">
{% endblock %}

{% block 'content' %}

<div class="fundologin">
    <div class="partebranca">
        <div class="logoarea">
            <div class="styleg">G</div>
        </div>
        <form action="{% url 'admins' %}" class="fromarea">
            {% csrf_token %}

            <div class="fromarea-input">
                <div class="fromarea-h2">
                    <h2>Seja Bem-Vindo!</h2>
                </div>
                <label for="">Login: <br> <input></label> <br><br> 
                <label for="">Senha: <br> <input type="password"></label> <br><br> 
            </div>
            <input type="submit" value="ENTRAR" class="botao">
        </form>
   </div>
</div>

{% endblock %}