{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %} 
Modificar Prato
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/add_prato.css' %}">
<script src="{% static 'JS/editcard.js' %}" defer></script>
{% endblock %}

{% block 'content' %}
    <div class="vheight">
        <div class="card">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="photo-side">
                    <img src="{% static 'images/placeholder.png' %}" alt="">
                    <div class="acomp {{ sit }}" id="butones">ACOMPANHAMENTOS</div>
                </div>
                <div class="data-side">
                    {{ formcar }}
                </div>
                <input type="submit" value="SALVAR" id="save">
            </form>
        </div>
        <div class="acomp-seq" id="menes">
            <h3>ACOMPANHAMENTOS</h3>
            {% for acomp in lista_acomp %}
                <div class="acomp-item">
                    <p>{{ acomp.Nome }}</p>
                    <p>{{ acomp.Quantidade }}g</p>
                    <a href="{% url 'rem_acomp' acomp.id %}">
                        <button>APAGAR</button>
                    </a>
                </div>
            {% endfor %}
            <form class="acomp-item" method="post" id="add">
                {% csrf_token %}
                {{ formacomp }}
                <input type="submit" value="ADICIONAR">
            </form>
        </div>
    </div>
{% endblock %}