{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %}
Publicação
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/publicacao.css' %}">
{% endblock %}

{% block 'content' %}
<h1>ESCREVER PUBLICACAO</h1>
<div class="contato-content">
    <div class="form-div">
        <form name="publi_form" method="post">
            {% csrf_token %}
            {{ publiform }}
            <input class="botao" type="submit" value="CADASTRAR">
        </form>
        <form name="publi_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ img_form }}
            <input class="botao" type="submit" value="CADASTRAR IMAGEM">
        </form>
    </div>
</div>

{% endblock %}