{% extends 'base/base.html' %}
{% load static %}
{% block 'subtitulo' %}
Publicação
{% endblock %}
{% block 'header' %}
<link rel="stylesheet" href="{% static 'CSS/publicacao.css' %}">
{% endblock %}

{% block 'content' %}
<h1>ESCREVER PUBLICACAO</h1>
<div class="contato-content">
    <div class="form-div">
        <form name="publi_form" method="post">
            {% csrf_token %}
            {{ publiform }}
            <div class="botoes">
                <a href="{% url 'lista_publi' %}"><div class="botao" id="JohnTravolta">VOLTAR</div></a>
                <input class="botao" type="submit" value="CADASTRAR">
            </div>
        </form>
        {% if fotos != null %}
            <div class="img">
                {% for foto in fotos %}
                <div>
                    <img src="{{ foto.Imagem.url }}" alt=""></img>
                    <a href="{% url 'rem_img' foto.id %}"><i class="fa-solid fa-trash"></i></a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form name="publi_form" method="post" enctype="multipart/form-data" style="display: {{ disp }};">
            {% csrf_token %}
            {{ img_form }}
            <div class="botoes">
                <input class="botao cad" type="submit" value="CADASTRAR IMAGEM">
            </div>
        </form>
    </div>
</div>

{% endblock %}