{% load static %}

<div class="footer">
    <div>
        <img src="{% static '/images/GoacLogo.png' %}" alt="">
    </div>
    <p>Goacana - Restaurante Regional. Todos os direitos reservados &copy; 2025</p>
    <div class="media">
        <a href="https://www.instagram.com/goacanarestaurante?utm_source=ig_web_button_share_sheet&igsh=MWtqMmFtd2IzYm0zaQ==">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=558491061685&text&type=phone_number&app_absent=0">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
</div>