body {
    background-color: #cccccc;
}

.vheight {
    margin-top: 100px;
    min-height: 80vh !important;
    display: flex;
    justify-content: center;

    .acomp-seq {
        margin-top: 50px;
        position: fixed;
        width: 80%;
        height: 300px;
        border-radius: 10px;
        background-color: lightgreen;
        overflow-y: scroll;
        display: none;
        border: 1px solid black;

        h3 {
            color: white;
            text-align: center;
            border-radius: 10px 0px 0 0;
            background-color: rgb(81, 138, 81);
        }

        .acomp-item {
            min-height: 44px;
            width: 90%;
            margin: 0 auto;
            border: 1px solid black;
            margin-bottom: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            p, label {
                line-height: 42px;
                margin: 0 0 0 10px;
            }

            input, a {
                margin-left: auto;
                margin-right: 10px;
                border-radius: 5px;
                background-color: green;
            }

            #id_Nome, #id_Quantidade {
                background-color: white !important;
            }

            #id_Quantidade {
                width: 60px !important;
            }

            button {
                background-color: red;
                border-radius: 5px;
            }

            #gray {
                background-color: gray !important;
                margin-left: auto;
                margin-right: 10px;
            }
        }
    }
}

.card {
    margin: 0 auto;
    margin-bottom: 12px;
    width: 90%;
    min-height: 500px;
    height: auto !important;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;

    form {
        display: flex;

        input, select {
            height: 40px;
            border-radius: 10px;
        }
    }

    .photo-side {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .acomp {
            width: 300px;
            height: 50px;
            margin-top: 10px;
            border-radius: 10px;
            background-color: green;
            color: white;
            border: 1px solid black;
            text-align: center;
            font-size: 24px;
            line-height: 50px;
            cursor: pointer;
        }

        .False {
            display: none;
        }

        img {
            height: 350px;
            width: 350px;
            border-radius: 10px;
        }
    }

    .data-side {
        width: 60%;
        
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            label, input, select {
                margin: 0 auto;
                width: 50%
            }

            label {
                margin-top: 10px;
            }
        }

        .acomp-list {
            margin: 0 auto;
            width: 80%;
            border: 1px solid black;
        }
    }

    #save {
        position: absolute;
        width: 125px;
        height: 40px;
        bottom: 20px;
        right: 20px;
        border-radius: 8px;
        background-color: rgb(81, 138, 81);
    }

    #wownicegraphics {
        position: absolute;
        width: 125px;
        height: 40px;
        bottom: 20px;
        right: 150px;
        border-radius: 8px;
        background-color: red;
    }
}

@media (max-width: 768px) {
    form {
        flex-direction: column;

        .data-side, .photo-side {
            width: 100% !important;

            img {
                transform: scale(0.8) !important;
            }

            input, select, label {
                width: 85% !important;
            }
        }

        .data-side {
            padding-bottom: 75px;
        }
    }
}