body {
    background-color: #cccccc;
}

.vheight {
    margin-top: 100px;
    min-height: 80vh !important;
}

.card {
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background-color: white;
    border: 1px solid black;

    form {
        display: flex;    
    }

    .photo-side {
        width: 40%;
        height: 60%;
    }

    .data-side {
        width: 60%;

        > div {
            display: flex;
            flex-direction: column;

            label, input, select {
                margin: 0 auto;
                width: 50%
            }

            label {
                margin-top: 10px;
            }
        }
    }

    #save {
        position: absolute;
        width: 125px;
        height: 40px;
        bottom: 20px;
        right: 20px;
        border-radius: 8px;
        background-color: rgb(81, 138, 81);
    }
}


