.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 20px;
    column-gap: 20px;
}

.container1 {
    height: 90vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    height: 70%;
    width: 90%;
    background-color:white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .imagem{
        border-right: 1px solid black;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            height: 300px;
            width: 300px;
            border-radius: 50%;
        }

        h2 {
            text-align: center;
        }

    }

    .imagem2 {
        .conj {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .conj:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
            color: black;
        }

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 200px;
            font-size: 130px;
            background-color: #6b1d1d;
            color: white;
            border-radius: 20px;
        }

        h3 {
            text-align: center;
        }
    }

    .logout {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: red;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px){
    .grid {
        grid-template-columns: 50% 50% !important;
    }      
}

@media screen and (max-width: 950px){
    .container1 {
        height: auto !important;

        .grid {
            transform: scale(0.8);
        }
    }

    .container2 {
        width: 400px;
        flex-direction: column;
        height: auto !important;
        margin: 80px 0px 10px 0px !important;

        .imagem {
            padding-right: 0 !important;
            margin-top: 10px;
            border-right: 0 !important;
            border-bottom: 1px solid black;
        }
    }    
}

@media screen and (max-width: 400px){
    .container2 {
        transform: scale(0.8) !important;
    }  
}