.vheight {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 10px;

    .form-frame {
        padding: 10px;
        margin-top: 75px;
        border: 1px solid black;
        border-radius: 10px;
        align-items: center;

        div, form {
            display: flex;
            flex-direction: column;
        }

        form {
            row-gap: 10px;
        }
    
        .botoes {
            margin: 0 auto;
            flex-direction: row;
            column-gap: 10px;

            a {
                text-decoration: none;

                div {
                    background-color: red;
                }
            }

            .botao, div {
                border-radius: 5px;
                border: 1px solid black;
                width: 116px;
                height: 30px;
                background-color: green;
                color: white;
                justify-content: center;
                align-items: center;
            }
        }

        input {
            border-radius: 5px;
        }
    
        .helptext {
            font-size: 12px;
        }
    }
}