@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=IM+Fell+Double+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=IM+Fell+Double+Pica:ital@0;1&family=Lavishly+Yours&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/IndexBanner.jpg');
    background-repeat: repeat;
}

.titulo {
    color: rgb(255, 251, 232);
    text-align: left;
    font-family: "Lavishly Yours", cursive;
    font-style: italic;
    padding-left: 50px;
    font-size: 140px;
    padding-bottom: 20px;
}

.titulo-principal {
    text-align: center;
    justify-content: center;
    margin-top: 75px;
    color: rgb(255, 251, 232);
    font-size: 80px;
    font-family: "IM Fell Double Pica", serif;
}

.comida {
    max-height: 500px;
    min-width: 500px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.titulo-comidas {
    font-family: "IM Fell Double Pica", serif;
    text-align: left;
    color: rgb(255, 251, 232);
    font-size: 42px;
    display: flex;

    p {
        font-size: 40px;
        margin-left: auto;
        margin-right: 15px;
    }
}

.detalhes-comidas {
    font-family: "IM Fell Double Pica", serif;
    font-size: 35px;
    color: rgb(255, 251, 232);
    width: 100%;
    p {
        margin: 0;
    }
}

.container1 {
    background-color: #6b1d1d;
    display: flex;
    justify-content: center;
    width: 915px;
    margin: 0 auto;
    margin-bottom: 10px;


}

.container2 {
    background-color: #6b1d1d;
    justify-content: center;
    width: 915px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 10px;

}

.container3 {
    background-color: #6b1d1d;
    display: flex;
    width: 915px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.comidas {
    display: block;
    width: 100%;

}

.p-pag3 {
    display: flex;
}

.container1,
.container2,
.container3 {
    box-shadow: 5px 0 10px 5px black;
}

.pag2,
.pag3,
.pag4 {
    text-align: right;
}

.pag4 {
    padding-right: 0px;
}

.img4 {
    width: 100%;
    display: flex;
    justify-content: end;

}

.div-com-imagem{
    display: block;
}