@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=IM+Fell+Double+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=IM+Fell+Double+Pica:ital@0;1&family=Lavishly+Yours&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/IndexBanner.jpg');
    background-repeat: repeat;
}

.titulo {
    color: rgb(255, 251, 232);
    text-align: left;
    font-family: "Lavishly Yours", cursive;
    font-style: italic;
    margin-left: 25px;
    font-size: 140px;
    padding-bottom: 20px;
}

.titulo-principal {
    text-align: center;
    justify-content: center;
    margin-top: 75px;
    color: rgb(255, 251, 232);
    font-size: 80px;
    font-family: "IM Fell Double Pica", serif;
}

.comida {
    min-width: 500px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.titulo-comidas {
    font-family: "IM Fell Double Pica", serif;
    text-align: left;
    height: auto;
    color: rgb(255, 251, 232);
    font-size: 42px;
    display: flex;

    p {
        font-size: 40px;
        margin-left: auto;
        margin-right: 15px;
    }
}

.detalhes-comidas {
    font-family: "IM Fell Double Pica", serif;
    font-size: 35px;
    color: rgb(255, 251, 232);
    width: 100%;
    p {
        margin: 0;
    }
}

.container1 {
    background-color: #6b1d1d;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 915px;
}

.div-com-imagem{
    display: block;
}


@media screen and (max-width:1050px) {
    .container1 {
        width: 90% !important;

        .titulo {
            font-size: 10rem;
        }

        .comida {
            min-width: 0;
            max-width: 500px;

            .titulo-comidas, p {
                font-size: 30px;
            }
        }

        .imagem {
            display: none;
        }
    }
}

@media screen and (max-width:525px) {
    .container1 {
        width: 90% !important;

        .titulo {
            font-size: 7rem;
            margin: 0;
        }

        .comida {
            width: 350px !important;

            .titulo-comidas, p {
                font-size: 24px;
            }
        }

        .imagem {
            display: none;
        }
    }
}

@media screen and (max-width: 350px) {
    .container1 {
        .titulo {
            font-size: 5rem;
            margin-left: 25px;
        }

        .comida {
            width: 300px !important;

            .titulo-comidas, p {
                font-size: 24px;
            }
        }
    }
}