.titulo {
    margin-top: 75px;
}

.card {
    color: #d2d2d2;
    text-align: center;
    background-color: #632727;
}

.vheight {
    height: 80vh !important;
}

.body-card {
    background-color:#7ca81c;
}