/* Esse CSS é o que será compartilhado por todo o site, tudo que estiver em mais de uma página deve ser colocado aqui */

/* Esta parte é dedicada às importações. Se desejar importar fontes, faça aqui */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Esta parte do código é para o body */
body {margin: 0; font-family: "IM Fell English", serif !important; overflow-x: hidden;}

/* Esta parte do código é para o navigator (barra superior) */
.nav {
    z-index: 10000;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
        
    .main-bar {
        z-index: 10002;
        width: 100%;
        height: 50px;
        background-color: #7ca81c;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        #logo {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        a, i {
            text-decoration: none;
            color: white !important;
        }

        a:hover {
            text-decoration: underline;
        }

        #login, #mobi {
            position: absolute;
            right: 20px;
            justify-self: flex-end;
            font-size: 25px;
            line-height: 30px;
            border: 1px solid white;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px;
        }

        #mobi {
            display: none;
        }
    }

    .dropdown {
        z-index: 10001;
        display: none;
        background-color: rgb(220, 220, 220);
        width: 100%;

        .dropdown-content {
            width: 100%;
            border: 0.5px solid black;
            height: 40px;
            line-height: 40px;
            color: black;
            text-decoration: none;
            padding: 0 20px;
            display: inline-block;
        }
    }
}

.footer {
    width: 100%;
    height: 175px;
    background-color: #7ca81c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 80px;
        border-radius: 50%;
    }

    p {
        color: white;
        font-size: 0.8rem;
        margin-left: 20px;
    }

    .media {
        display: flex;
        gap: 20px;

        a {
            display: flex;
            color: rgb(0, 0, 0);
            text-decoration: none;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #beff30;
            align-items: center;

            i {
                font-size: 20px;
                margin: 0 auto;
            }
        }
    }
}

/* A partir daqui, serão feitas as adaptações para o mobile */
@media screen and (max-width: 768px) {
    .nav {
        .mainlink {
            display: none;
        }

        #logo, #mobi {
            display: block !important;
        }
    }
}