.titulo {
    width: 90%;
    margin-top: 75px;
    display: flex;


    .up-button {
        margin-left: auto;
        display: flex;
        column-gap: 5px;

        button, a {
            height: 46.4px;
            background-color: rgb(81, 138, 81);
            color: white;
            border-radius: 10px;
            text-decoration: none;
            width: 120px;
        }
    }
}

.vheight {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 10px;

}