.fundologin{
    height: 90vh;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.partebranca{
    height: 50vh;
    width: 200%;
    background-color: rgb(255, 255, 255);
    border-radius: 12x;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0);
    display: flex;
    gap: 2rem;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fromarea{
    flex: 1;
    background-color: rgb(188, 212, 160);
    margin-bottom: 1.5rem;
    color: #333;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    width: 70%;
    border: 1px solid black;

    .field {
        width: 100%;
        margin-bottom: 10px;
    }
}

input{
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 1rem;
}
.fromarea-h2{
    margin-bottom: 1.5rem;
    font-family: bold ;
    color: #333;
    text-align: center;
}

.fromarea-input {
    width: 95%;
}

label{
    font-size: 1rem;
    color: #555;
    width: 80%;
}

.botao {
    background-color: #7a9b2f;
    width: 95%;
    align-self: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.botao:hover{
    background-color: #6b892a;
    transform: scale(1.035);
}

.botao:active{
  transform:scale(0.98);
}

.logoarea{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleg{
    font-size: 8rem;
    color: #7a9b2f;
    font-weight: bold;
}

@media (max-width: 768px) {
    .partebranca{
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .logoarea{
        margin-bottom: 1rem;
    }
}