body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../images/IndexBanner.jpg');
    background-size: cover;
    
    h1 {
        margin-top: 75px;
        color: white;
        text-align: center;
        animation: fadeInDown 1s ease forwards;
    }

    .row {
        margin: 0;
    }
}

.contato-content {
    padding: 100px 0 100px 0 ;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-div {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
   
form {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    gap: 20px;
    border-radius: 10px;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        input, textarea, label {
            width: 95%;
            border-radius: 5px;
            resize: none;
        }
    }

    .botoes {
        flex-direction: row !important;
        margin: 0 auto;
        column-gap: 10px;

        a {
            color: black;
            text-decoration: none;
        }

        #JohnTravolta {
            border: 1px solid black;
            text-align: center;
            background-color: red;
        }
    }

    .botao {
        width: 150px;    
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: green;
    }

    .cad {
        width: 250px !important;
    }
}

.img {
    display: flex;
    column-gap: 20px;
    overflow-x: scroll;

    > div {
        position: relative;

        img {
            height: 100px;
            border-radius: 5px;
            border: 1px solid black;
        }

        a {
            position: absolute;
            bottom: 0;
            right: 5px;
            color: red;
        }
    }
}

@media screen and (max-width: 768px) {
    
}
